<h1><%= @team.name %></h1>

<h2>Team Leader: <%= @team.teacher.first_name + ' ' + @team.teacher.last_name %></h2>

<h2>Team Members:</h2>

<%= render partial: '/students/studentlist', locals: {students: @team.students,
  columns: {:hero_name => 'Hero Name',
   :superpower => 'Superpower',
   :gender => 'Gender',
   :grade_level => 'Grade Level',
   :shirt_size => 'Shirt Size'}} %>

<h2>Stats:</h2>

<h2>Team Rules (Applicable To All Teams):</h2>
<%= render partial: "rules/list" %>
