<table id="student-table">
  <thead>
    <tr>
      <th>Name</th>
      <% columns.each do |k, v| %>
        <th><%= v %></th>
      <% end %>
      <th>
      Add to Team
      </th>
    </tr>
  </thead>
  <%= render partial: students, locals: {columns: columns} %>
</table>
