<h1>Students</h1>

<%= render partial: 'studentlist',
  locals: {students: @students,
  columns: {:hero_name => 'Hero Name',
   :superpower => 'Superpower',
   :gender => 'Gender',
   :grade_level => 'Grade Level',
   :shirt_size => 'Shirt Size'}} %>
