<h1>Official Team Rules</h1>
<%= render partial: "list", object: @rules %>

<!--NEED TO ADD % SIGNS < if admin > -->
    <%= link_to 'Add New Rule', new_rule_path %>
  <!-- < else > -->
    <!-- <p>Please see admin for any information on rules</p> -->
<!-- < end > -->
